In [1]:
# a program to create a tuple of num and print the sum of all the elements :

sum_tuples = (1,2,3,4,5,6)

print(f'elements in the tuple : {sum_tuples}')

print(f'sum of the elements in tuple is : {sum(sum_tuples)}')

elements in the tuple : (1, 2, 3, 4, 5, 6)
sum of the elements in tuple is : 21

In [2]:
# a program to create list of strings and sort them in alphabetical order :

list_of_str = ["a",'b',"abc"]

print(f'elements in the list_of_str : {list_of_str}')

list_of_str.sort()

print(f'sorting in alphabetic order  : {(list_of_str)}')

print (f'sorting in decending order of alphabatics : {sorted(list_of_str,reverse = True)}')

elements in the list_of_str : ['a', 'b', 'abc']
sorting in alphabetic order  : ['a', 'abc', 'b']
sorting in decending order of alphabatics : ['b', 'abc', 'a']

In [3]:
# creating a tuple and finding the min and  max in the tuple :

tuple_2 = 1,2,3,4,5

print(f'elements in the tuple : {tuple_2}')

print(f'max value in the tuple : {max(tuple_2)}\n\
min value in the tuple : {min(tuple_2)}')

elements in the tuple : (1, 2, 3, 4, 5)
max value in the tuple : 5
min value in the tuple : 1

In [4]:
# a program to create a tuple of mixed data type and print the data type of each element :

tuple_3 = (1,"str1",2.5,True)

print(f'elements in the tuple : {tuple_3}')

print(f'type of first element : {type(tuple_3[0])}')
print(f'type of second element : {type(tuple_3[1])}')
print(f'type of third element : {type(tuple_3[2])}')
print(f'type of fourth element : {type(tuple_3[3])}')

elements in the tuple : (1, 'str1', 2.5, True)
type of first element : <class 'int'>
type of second element : <class 'str'>
type of third element : <class 'float'>
type of fourth element : <class 'bool'>

In [5]:
# a program to create a tuple of num and print the sum of all the elements :

tuple_4 = (1,2,3,4,5)

print(f'tuple is : {tuple_4}')

print(f'sum of all the elements in the tuple : {sum(tuple_4)}')

tuple is : (1, 2, 3, 4, 5)
sum of all the elements in the tuple : 15

In [6]:
# program to remove dublicates in a list :

list_1 = [ 1,2,1,"abc",2,1,3,"str"]

print(f'list is : {list_1}')

my_final_list = set(list_1)


print(f'list after removing all the duplicate elements : {list(my_final_list)}')

list is : [1, 2, 1, 'abc', 2, 1, 3, 'str']
list after removing all the duplicate elements : [1, 2, 3, 'str', 'abc']

In [7]:
# program to reverse a tuple :

tuple_5 = (1,2,"str",7,'8',2.5,'abc')

print(f'tuple is : {tuple_5}')

print(f'reverse of the tuple : {tuple_5[::-1]}')

tuple is : (1, 2, 'str', 7, '8', 2.5, 'abc')
reverse of the tuple : ('abc', 2.5, '8', 7, 'str', 2, 1)

In [8]:
# Program to find the second largest num in the list :

list_2 = [1,2,5,7,9,8]

print(f'list is : {list_2}')

list_2.sort() # sorting the list from ascending to descending and then print second last element 

print(f'second largest element in the list : {list_2[-2]}')

list is : [1, 2, 5, 7, 9, 8]
second largest element in the list : 8

In [9]:
# a program to create a list of tuples and sorting them based on the second element of the list :


list_of_tuples = [(1,'a'),(2,'b'),(3,'c'),(5,'d'),(4,'f'),(5,'e')]

print(f'list of tuples is : {list_of_tuples}')


print(f'sorting using second element in a tuple of list : {(sorted(list_of_tuples,key=lambda x:x[1]))}')

list of tuples is : [(1, 'a'), (2, 'b'), (3, 'c'), (5, 'd'), (4, 'f'), (5, 'e')]
sorting using second element in a tuple of list : [(1, 'a'), (2, 'b'), (3, 'c'), (5, 'd'), (5, 'e'), (4, 'f')]

In [10]:
# a program to convert tuple into a list and viceversa :

tuple_1 = (1,2,3,4,6) # creating a tuple 

print(f'tuple is {tuple_1}')

print(f'converting the tuple to list : {(list(tuple_1))}')


list2 = [6,7,8,9,1] # creating a list 

print(f'list is {list2}')

print(f'converting the list to tuple : {(tuple(list2))}')

tuple is (1, 2, 3, 4, 6)
converting the tuple to list : [1, 2, 3, 4, 6]
list is [6, 7, 8, 9, 1]
converting the list to tuple : (6, 7, 8, 9, 1)

In [1]:
a=[]
for i in range(10):
    a.append(i)
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]